@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colour palette */
  --primary-bg: rgb(255, 228, 232);
  --primary: lightpink;
  --primary-text: rgb(150, 3, 3);
  --primary-text-bright: rgb(220, 55, 55);
  --secondary-bg: rgb(250, 240, 240);
  --secondary: rgb(225, 215, 215);
  --secondary-bright: rgb(249, 245, 245);
}

body {
  background-color: rgb(255, 252, 252);
  min-height: 100dvh;
  /* background-color: rgb(187, 182, 204); */
}

#heading {
  color: var(--primary-text);
  font-size: 28px;
  font-weight: bold;
  padding: 10px;
}

.heading-sm {
  font-weight: bold;
  font-size: 1.5rem /* 20px */;
  line-height: 2rem /* 28px */;
  margin: 1rem /* 16px */;
  margin-top: 2rem /* 48px */;
  margin-left: 3rem /* 48px */;
}

/* -------------------------------------------------------- */
/* FORMS */
/* -------------------------------------------------------- */
#form-bg {
  background-color: var(--secondary-bright);
  border-radius: 20px;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 3px 0px grey;

  width: 45%;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#form-bg-large {
  background-color: var(--primary);
  border-radius: 20px;
  box-shadow: 2px 2px 8px 0px var(--primary);

  width: 65%;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 10px;
}

#form-input {
  display: flex;
  gap: 14px;
  justify-content: space-between;
  align-items: center;
}

#form-button {
  padding-top: 10px;
  padding-left: 2px;
}

.input-text {
  background-color: var(--secondary);
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 3px 0px grey;
  box-sizing: border-box;
  outline: none;
  border-radius: 10px;
  padding: 2px 8px;
}

.input-text:focus {
  border: 1px solid var(--primary-text);
  box-shadow: 1px 1px 5px 0px var(--primary);
}

#input-submit, #input-buy {
  border: 1px solid grey;
  background-color: rgb(252, 252, 252);
  font-weight: bold;
  padding: 8px 18px;
  border-radius: 14px;
}

.card-component:hover #input-submit, .card-component:hover #input-buy {
  border: 0;
  box-shadow: 1px 1px 4px 0px var(--primary);
  background-color: var(--primary-text-bright);
  color: var(--primary-bg);
}

#input-buy {
  font-size: 14px;
  padding: 5px 14px;
  width: 75%;
}

#input-submit:hover, #input-buy:hover, .card-component:hover #input-submit:hover, .card-component:hover #input-buy:hover {
  border: 0;
  background-color: var(--primary-text);
  color: var(--primary-bg);
}


/* footer */
#footer-text {
  display: flex;
  justify-content: space-between;
}

#footer-text h4 {
  font-weight: bold;
  padding-bottom: 6px;
}

#footer-text p {
  padding: 4px 0;
  font-size: 14px;
  text-decoration: underline;
}

#footer-text p:hover {
  cursor: pointer;
  text-decoration: none;
  color: var(--primary-text-bright);
}